# Basic loading data to sql database from csv file

In [1]:
import pandas as pd
import mysql.connector

In [2]:
conn = mysql.connector.connect(user='root', password='D4tapath2024',
                              host='127.0.0.1',
                              database='oltp_amazon_prime')
type(conn)

mysql.connector.connection_cext.CMySQLConnection

Dataset: https://www.kaggle.com/datasets/arnavsmayan/amazon-prime-userbase-dataset

In [6]:
prime = pd.read_csv('amazon_prime_users.csv')
prime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   User ID                        2500 non-null   int64
 1   Name                           2500 non-null   object
 2   Email Address                  2500 non-null   object
 3   Username                       2500 non-null   object
 4   Date of Birth                  2500 non-null   object
 5   Gender                         2500 non-null   object
 6   Location                       2500 non-null   object
 7   Membership Start Date          2500 non-null   object
 8   Membership End Date            2500 non-null   object
 9   Subscription Plan              2500 non-null   object
 10  Payment Information            2500 non-null   object
 11  Renewal Status                 2500 non-null   object
 12  Usage Frequency                2500 non-null   object
 13  Purchase History               2500 non-null   object
 14  Favorite Genres                2500 non-null   object
 15  Devices Used                   2500 non-null   object
 16  Engagement Metrics             2500 non-null   object
 17  Feedback/Ratings               2500 non-null   float64
 18  Customer Support Interactions  2500 non-null   int64
dtypes: float64(1), int64(2), object(16)
memory usage: 371.2+ KB

In [4]:
prime.head(5)

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,Payment Information,Renewal Status,Usage Frequency,Purchase History,Favorite Genres,Devices Used,Engagement Metrics,Feedback/Ratings,Customer Support Interactions
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,Mastercard,Manual,Regular,Electronics,Documentary,Smart TV,Medium,3.6,3
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,Visa,Manual,Regular,Electronics,Horror,Smartphone,Medium,3.8,7
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,Mastercard,Manual,Regular,Books,Comedy,Smart TV,Low,3.3,8
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,Amex,Auto-renew,Regular,Electronics,Documentary,Smart TV,High,3.3,7
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,Visa,Auto-renew,Frequent,Clothing,Drama,Smart TV,Low,4.3,1

In [9]:
prime['Purchase History'].value_counts()

Purchase History
Books          851
Electronics    847
Clothing       802
Name: count, dtype: int64

In [8]:
test = pd.read_sql('SELECT * FROM prime_users', con=conn)
test.info

C:\Users\jhorman\AppData\Local\Temp\ipykernel_8612\2509898520.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  test = pd.read_sql('SELECT * FROM prime_users', con=conn)

<bound method DataFrame.info of Empty DataFrame
Columns: [User_ID, Name, Email_Address, Username, Date_of_Birth, Gender, Location, Membership_Start_Date, Membership_End_Date, Subscription_Plan, Payment_Information, Renewal_Status, Usage_Frequency, Purchase_History, Favorite_Genres, Devices_Used, Engagement_Metrics, Feedback_Ratings, Customer_Support_Interactions]
Index: []>

In [12]:
prime.to_sql('prime_users', con=conn)

C:\Users\jhorman\AppData\Local\Temp\ipykernel_8612\1198509100.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  prime.to_sql('prime_users', con=conn)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement